.button
    display: inline-block
    border: none
    color: #fff
    text-decoration: none
    background-color: $accent
    padding: 11px 32px
    font-size: 16px
    font-family: $gotham-m
    border-radius: 17px
    text-transform: uppercase
    font-weight: 500
    text-align: center
    position: relative
    outline: none
    transition: background-color .1s ease
    cursor: pointer
    box-shadow: 0 0 8px 0 rgba($accent, .5)
    &:hover
        background-color: lighten($accent, 5%)

    &:active
        background-color: darken($accent, 5%)

.button--purple
    background-color: $blue-dark
    box-shadow: 0 0 8px rgba(153, 140, 244, 0.75)
    border-radius: 50px

    &:hover
        background-color: lighten(#3837a6, 5%)

    &:active
        background-color: darken(#3837a6, 5%)